:root {
    --primary-color: #ff9854 !important;
    --theme-linear-gradient:linear-gradient(90deg, #fa8c1d, #fcaf3f);
    --van-tabbar-item-icon-size: 30px !important;
    --van-search-left-icon-color:var(--primary-color) !important;
    /* 设置组件的主体色 */
    --van-primary-color: var(--primary-color);
    /* --van-tab-active-text-color:var(--primary-color) !important; */
}

body {
    font-size: 14px;
}

.top-page {
    position: relative;
    z-index: 9;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
}